@model Jogador

<link rel="stylesheet" href="~/css/login.css">

@{
    ViewData["Title"] = "Login";
}


    


<main class="fundo-login">
        <div class="bkg-login">
            <form method="post" action="@Url.Action("Logar")" class="frm-login">
                <div class="login-title">
                    <hr class="login-line">
                    <h1>Login</h1>
                </div>
                <div class="frm-linha">
                    <div class="bkg-input">
                        <img src="~/assets/vector-user.svg" alt="ícone de usuário">
                        <input type="email" name="Email" id="email" placeholder="Digite seu e-mail:">
                    </div>
                </div>
                <div class="frm-linha">
                    <div class="bkg-input">
                        <img src="~/assets/vector-key.svg" alt="ícone de chave">
                        <input type="password" name="Senha" id="password" placeholder="Digite sua senha:">
                    </div>
                </div>

                <button type="submit" class="btn-logar">Logar</button>
                <br>
                <span>@TempData.Peek("Mensagem")</span>
            </form>
        </div>

</main>

@* 
<form method="post" action="@Url.Action("Logar")">

    <label for="inputEmail">Email</label>
    <input type="email" name="Email" id="inputEmail">

    <label for="inputSenha">Senha</label>
    <input type="password" name="Senha" id="inputSenha">

    <button type="submit">Logar</button>
    
</form> *@